$font-text: 'Anton', sans-serif;
$background_first: #54619c;
$background_sec: #003156;
$black: #000;
$white: #fff;

body {
  background: $background_sec;
  background: -webkit-linear-gradient(to right, $background_first, $background_sec);
  background: linear-gradient(to right, $background_first, $background_sec);
  font-family: $font-text;
  padding: 20px 0px;
}
.main-container {
  .main-title {
    color: $white;
    text-align: center;
    text-shadow: 3px 3px 0 rgba($black, .3);
    font-size: 40px;
  }
  .text {
    font-size: 26px;
    text-align: center;
    color: $white;
  }
  .polaroid {
    margin: 0 auto 25px auto ;
    width: 60%;
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba($black, .2), 0 6px 20px 0 rgba($black, .19);
      &__media {
        width: 100%;
        min-height: 500px;
        border: none;
      }
      &__text-container {
        text-align: center;
        padding: 10px 20px;
      }
  }
}
.loading {
  color: $white;
  font-size: 22px;
}
